body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1617px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2446 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:123px;
  width:1602px;
  height:208px;
}
#u2447_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:45px;
}
#u2447 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u2447_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2448_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:45px;
}
#u2448 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:0px;
  width:80px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u2448_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
#u2449_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:45px;
}
#u2449 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:0px;
  width:102px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u2449_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:98px;
  word-wrap:break-word;
}
#u2450_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:45px;
}
#u2450 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:0px;
  width:80px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u2450_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
#u2451_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:45px;
}
#u2451 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:0px;
  width:80px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u2451_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
#u2452_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:45px;
}
#u2452 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:0px;
  width:80px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u2452_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
#u2453_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:45px;
}
#u2453 {
  border-width:0px;
  position:absolute;
  left:462px;
  top:0px;
  width:200px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u2453_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u2454_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:45px;
}
#u2454 {
  border-width:0px;
  position:absolute;
  left:662px;
  top:0px;
  width:120px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u2454_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u2455_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
}
#u2455 {
  border-width:0px;
  position:absolute;
  left:782px;
  top:0px;
  width:100px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u2455_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u2456_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:45px;
}
#u2456 {
  border-width:0px;
  position:absolute;
  left:882px;
  top:0px;
  width:200px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u2456_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u2457_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:45px;
}
#u2457 {
  border-width:0px;
  position:absolute;
  left:1082px;
  top:0px;
  width:80px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u2457_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
#u2458_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:45px;
}
#u2458 {
  border-width:0px;
  position:absolute;
  left:1162px;
  top:0px;
  width:80px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u2458_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
#u2459_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:45px;
}
#u2459 {
  border-width:0px;
  position:absolute;
  left:1242px;
  top:0px;
  width:80px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u2459_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
#u2460_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:45px;
}
#u2460 {
  border-width:0px;
  position:absolute;
  left:1322px;
  top:0px;
  width:60px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u2460_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:56px;
  word-wrap:break-word;
}
#u2461_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:45px;
}
#u2461 {
  border-width:0px;
  position:absolute;
  left:1382px;
  top:0px;
  width:140px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u2461_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u2462_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:45px;
}
#u2462 {
  border-width:0px;
  position:absolute;
  left:1522px;
  top:0px;
  width:80px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u2462_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
#u2463_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:58px;
}
#u2463 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:45px;
  width:40px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#12CCB3;
}
#u2463_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2464_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:58px;
}
#u2464 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:45px;
  width:80px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#4DCEBF;
}
#u2464_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  word-wrap:break-word;
}
#u2465_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:58px;
}
#u2465 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:45px;
  width:102px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#4DCEBF;
}
#u2465_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:98px;
  word-wrap:break-word;
}
#u2466_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:58px;
}
#u2466 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:45px;
  width:80px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#4DCEBF;
}
#u2466_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  word-wrap:break-word;
}
#u2467_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:58px;
}
#u2467 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:45px;
  width:80px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2467_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  word-wrap:break-word;
}
#u2468_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:58px;
}
#u2468 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:45px;
  width:80px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2468_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  word-wrap:break-word;
}
#u2469_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:58px;
}
#u2469 {
  border-width:0px;
  position:absolute;
  left:462px;
  top:45px;
  width:200px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2469_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:196px;
  word-wrap:break-word;
}
#u2470_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:58px;
}
#u2470 {
  border-width:0px;
  position:absolute;
  left:662px;
  top:45px;
  width:120px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2470_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:116px;
  word-wrap:break-word;
}
#u2471_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:58px;
}
#u2471 {
  border-width:0px;
  position:absolute;
  left:782px;
  top:45px;
  width:100px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2471_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u2472_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:58px;
}
#u2472 {
  border-width:0px;
  position:absolute;
  left:882px;
  top:45px;
  width:200px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2472_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:196px;
  word-wrap:break-word;
}
#u2473_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:58px;
}
#u2473 {
  border-width:0px;
  position:absolute;
  left:1082px;
  top:45px;
  width:80px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2473_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  word-wrap:break-word;
}
#u2474_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:58px;
}
#u2474 {
  border-width:0px;
  position:absolute;
  left:1162px;
  top:45px;
  width:80px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2474_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  word-wrap:break-word;
}
#u2475_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:58px;
}
#u2475 {
  border-width:0px;
  position:absolute;
  left:1242px;
  top:45px;
  width:80px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2475_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  word-wrap:break-word;
}
#u2476_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:58px;
}
#u2476 {
  border-width:0px;
  position:absolute;
  left:1322px;
  top:45px;
  width:60px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2476_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:56px;
  word-wrap:break-word;
}
#u2477_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:58px;
}
#u2477 {
  border-width:0px;
  position:absolute;
  left:1382px;
  top:45px;
  width:140px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2477_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:136px;
  word-wrap:break-word;
}
#u2478_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:58px;
}
#u2478 {
  border-width:0px;
  position:absolute;
  left:1522px;
  top:45px;
  width:80px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#4DCEBF;
}
#u2478_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  word-wrap:break-word;
}
#u2479_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:50px;
}
#u2479 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:103px;
  width:40px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#12CCB3;
}
#u2479_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2480_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u2480 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:103px;
  width:80px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#4DCEBF;
}
#u2480_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:76px;
  word-wrap:break-word;
}
#u2481_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:50px;
}
#u2481 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:103px;
  width:102px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#4DCEBF;
}
#u2481_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:98px;
  word-wrap:break-word;
}
#u2482_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u2482 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:103px;
  width:80px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#4DCEBF;
}
#u2482_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:76px;
  word-wrap:break-word;
}
#u2483_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u2483 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:103px;
  width:80px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2483_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:76px;
  word-wrap:break-word;
}
#u2484_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u2484 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:103px;
  width:80px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2484_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:76px;
  word-wrap:break-word;
}
#u2485_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u2485 {
  border-width:0px;
  position:absolute;
  left:462px;
  top:103px;
  width:200px;
  height:50px;
}
#u2485_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:196px;
  word-wrap:break-word;
}
#u2486_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
}
#u2486 {
  border-width:0px;
  position:absolute;
  left:662px;
  top:103px;
  width:120px;
  height:50px;
}
#u2486_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2487_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u2487 {
  border-width:0px;
  position:absolute;
  left:782px;
  top:103px;
  width:100px;
  height:50px;
}
#u2487_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2488_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u2488 {
  border-width:0px;
  position:absolute;
  left:882px;
  top:103px;
  width:200px;
  height:50px;
}
#u2488_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:196px;
  word-wrap:break-word;
}
#u2489_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u2489 {
  border-width:0px;
  position:absolute;
  left:1082px;
  top:103px;
  width:80px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2489_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:76px;
  word-wrap:break-word;
}
#u2490_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u2490 {
  border-width:0px;
  position:absolute;
  left:1162px;
  top:103px;
  width:80px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2490_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:76px;
  word-wrap:break-word;
}
#u2491_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u2491 {
  border-width:0px;
  position:absolute;
  left:1242px;
  top:103px;
  width:80px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2491_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:76px;
  word-wrap:break-word;
}
#u2492_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:50px;
}
#u2492 {
  border-width:0px;
  position:absolute;
  left:1322px;
  top:103px;
  width:60px;
  height:50px;
}
#u2492_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:56px;
  word-wrap:break-word;
}
#u2493_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
}
#u2493 {
  border-width:0px;
  position:absolute;
  left:1382px;
  top:103px;
  width:140px;
  height:50px;
}
#u2493_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:136px;
  word-wrap:break-word;
}
#u2494_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u2494 {
  border-width:0px;
  position:absolute;
  left:1522px;
  top:103px;
  width:80px;
  height:50px;
}
#u2494_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2495_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:55px;
}
#u2495 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:153px;
  width:40px;
  height:55px;
}
#u2495_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2496_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:55px;
}
#u2496 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:153px;
  width:80px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#4DCEBF;
}
#u2496_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:76px;
  word-wrap:break-word;
}
#u2497_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:55px;
}
#u2497 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:153px;
  width:102px;
  height:55px;
  color:#4DCEBF;
}
#u2497_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2498_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:55px;
}
#u2498 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:153px;
  width:80px;
  height:55px;
}
#u2498_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2499_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:55px;
}
#u2499 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:153px;
  width:80px;
  height:55px;
}
#u2499_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  word-wrap:break-word;
}
#u2500_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:55px;
}
#u2500 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:153px;
  width:80px;
  height:55px;
}
#u2500_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2501_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:55px;
}
#u2501 {
  border-width:0px;
  position:absolute;
  left:462px;
  top:153px;
  width:200px;
  height:55px;
}
#u2501_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2502_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:55px;
}
#u2502 {
  border-width:0px;
  position:absolute;
  left:662px;
  top:153px;
  width:120px;
  height:55px;
}
#u2502_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2503_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:55px;
}
#u2503 {
  border-width:0px;
  position:absolute;
  left:782px;
  top:153px;
  width:100px;
  height:55px;
}
#u2503_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2504_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:55px;
}
#u2504 {
  border-width:0px;
  position:absolute;
  left:882px;
  top:153px;
  width:200px;
  height:55px;
}
#u2504_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:196px;
  word-wrap:break-word;
}
#u2505_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:55px;
}
#u2505 {
  border-width:0px;
  position:absolute;
  left:1082px;
  top:153px;
  width:80px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2505_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2506_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:55px;
}
#u2506 {
  border-width:0px;
  position:absolute;
  left:1162px;
  top:153px;
  width:80px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2506_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2507_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:55px;
}
#u2507 {
  border-width:0px;
  position:absolute;
  left:1242px;
  top:153px;
  width:80px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2507_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2508_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:55px;
}
#u2508 {
  border-width:0px;
  position:absolute;
  left:1322px;
  top:153px;
  width:60px;
  height:55px;
}
#u2508_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:56px;
  word-wrap:break-word;
}
#u2509_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:55px;
}
#u2509 {
  border-width:0px;
  position:absolute;
  left:1382px;
  top:153px;
  width:140px;
  height:55px;
}
#u2509_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:136px;
  word-wrap:break-word;
}
#u2510_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:55px;
}
#u2510 {
  border-width:0px;
  position:absolute;
  left:1522px;
  top:153px;
  width:80px;
  height:55px;
}
#u2510_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2511_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:29px;
  background:inherit;
  background-color:rgba(77, 206, 191, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2511 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:86px;
  width:66px;
  height:29px;
  color:#FFFFFF;
}
#u2511_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:62px;
  word-wrap:break-word;
}
#u2512_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:29px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2512 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:86px;
  width:66px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2512_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:62px;
  word-wrap:break-word;
}
#u2513 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:136px;
  width:40px;
  height:16px;
}
#u2513_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2513_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2514 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:185px;
  width:40px;
  height:16px;
}
#u2514_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2514_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2515 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:245px;
  width:40px;
  height:16px;
}
#u2515_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2515_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2516 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:295px;
  width:40px;
  height:16px;
}
#u2516_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2516_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2517_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:29px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2517 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:86px;
  width:80px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2517_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u2518_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:32px;
  background:inherit;
  background-color:rgba(77, 206, 191, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2518 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:18px;
  width:82px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2518_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:78px;
  word-wrap:break-word;
}
#u2519_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:32px;
  background:inherit;
  background-color:rgba(77, 206, 191, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2519 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:18px;
  width:82px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2519_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:78px;
  word-wrap:break-word;
}
#u2520_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:32px;
  background:inherit;
  background-color:rgba(77, 206, 191, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2520 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:18px;
  width:82px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2520_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:78px;
  word-wrap:break-word;
}
#u2521_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:32px;
  background:inherit;
  background-color:rgba(77, 206, 191, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2521 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:18px;
  width:82px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2521_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:78px;
  word-wrap:break-word;
}
